<div class="nes-container is-rounded" style="width: 400px; margin: 20px">
  <div id="overview" style="width: 400px; display: flex">
    <div id="image-num" style="width: 150px">
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%- selectedMember %>.png"
        alt="Member image"
      />
      <span>
        No.<% if (selectedMember.length < 2) { %>00<%- selectedMember %> <% }
        else if (selectedMember.length < 3) { %>0<%- selectedMember %> <% } else
        { %> <%- selectedMember %> <%} %>
      </span>
    </div>
    <div id="name-level">
      <p><%- pokemonData.name.toUpperCase() %></p>
      <p>
        HT: <br />
        WT:
      </p>
    </div>
  </div>
  <div style="width: 400px; display: flex">
    <div style="width: 200px">
      ATTACK<br />DEFENSE<br />SPEED<br />SPECIAL<br />
    </div>
    <div style="width: 200px">
      <div id="types">
        <% pokemonData.types.forEach(t => {%>
        <div class="type">
          TYPE<strong><%- t.slot %></strong>/<br />
          <%- t.type.name.toUpperCase() %>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<div class="nes-container is-rounded" style="width: 400px; margin: 20px">
  <h3>EVOLUTION</h3>
  <% if (pokemonSpecies.evolves_from_species !== null) {%>
  <h4>Evolves from:</h4>
  <p><%- pokemonSpecies.evolves_from_species.name.toUpperCase() %></p>
  <% }; %> <% if (pokemonData.name === pokemonEvolution.chain.species.name) {%>
  <h4>Evolves into:</h4>
  <p>
    <%- pokemonEvolution.chain.evolves_to[0].species.name.toUpperCase() %>
    <br />
    triggered by <%-
    pokemonEvolution.chain.evolves_to[0].evolution_details[0].trigger.name.toUpperCase()
    %> <% if
    (pokemonEvolution.chain.evolves_to[0].evolution_details[0].trigger.name ===
    'level-up') {%> at min. level <%-
    pokemonEvolution.chain.evolves_to[0].evolution_details[0].min_level %> <% }
    %>
  </p>
  <% } else if (pokemonSpecies.evolves_from_species) { if
  (pokemonSpecies.evolves_from_species.name ===
  pokemonEvolution.chain.species.name) { if
  (pokemonEvolution.chain.evolves_to[0].evolves_to[0]) { %>
  <h4>Evolves into:</h4>
  <p>
    <%-
    pokemonEvolution.chain.evolves_to[0].evolves_to[0].species.name.toUpperCase()
    %> <br />
    triggered by <%-
    pokemonEvolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].trigger.name.toUpperCase()
    %> <% if (typeof
    pokemonEvolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].min_level
    === 'number') {%> at min. level <%-
    pokemonEvolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].min_level
    %> <% } %>
  </p>
  <% } } }; %>
</div>
